body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #898989;
  --color-gray-200: #202020;
  --color-darkslateblue: #775da6;
  --color-darkslategray: #193050;
  --color-gainsboro: #dcdcdc;
  --color-dodgerblue: #1e90ff;

  /* Gaps */
  --gap-681xl: 700px;
  --gap-331xl: 350px;
  --gap-4xs: 9px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-29xl: 48px;
  --padding-12xl: 31px;
  --padding-5xl: 24px;
  --padding-mini: 15px;
  --padding-xs: 12px;
  --padding-3xs: 10px;
  --padding-9xs: 4px;
  --padding-base: 16px;
  --padding-18xl: 37px;
  --padding-14xl: 33px;
  --padding-2xs: 11px;
  --padding-10xs: 3px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-5xs: 8px;
}
