body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lgi: 19px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #898989;
  --color-gray-200: #202020;
  --color-darkslateblue: #775da6;
  --color-gainsboro: #dcdcdc;

  /* Paddings */
  --padding-xl: 20px;
  --padding-12xl: 31px;
  --padding-5xl: 24px;
  --padding-mini: 15px;

  /* Border radiuses */
  --br-5xs: 8px;
}
