.download-1-icon3 {
  height: 40px;
  width: 40px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.whmedical3 {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  line-height: 20px;
  color: inherit;
  z-index: 1;
}
.download-1-container,
.w-h-medical {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.w-h-medical {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
}
.download-1-container {
  width: 247px;
  flex-direction: row;
  padding: 0 0 74px;
  box-sizing: border-box;
  gap: var(--gap-4xs);
}
.base-icon {
  height: 48px;
  width: 199px;
  position: relative;
  border-radius: var(--br-5xs);
  display: none;
}
.sign-up7 {
  width: 139px;
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.base10,
.button5 {
  border-radius: var(--br-5xs);
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) 26px var(--padding-xs);
  background-color: #0b4291;
  flex: 0.7387;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  white-space: nowrap;
}
.button5:hover {
  background-color: #3069b8;
}
.base10 {
  height: 48px;
  width: 201px;
  position: relative;
  background-color: var(--color-darkslategray);
  display: none;
}
.sign-up8 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 118px;
  z-index: 1;
}
.button6,
.sign-up-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-21xl) var(--padding-xs);
  background-color: var(--color-darkslategray);
  align-self: stretch;
  border-radius: var(--br-5xs);
  flex-direction: row;
  flex-shrink: 0;
  white-space: nowrap;
}
.button6:hover,
.button7:hover,
.button8:hover {
  background-color: var(--color-slategray);
}
.sign-up-buttons {
  flex: 1;
  flex-direction: column;
  padding: 72px 0 0;
  margin-left: -200px;
}
.base11 {
  height: 48px;
  width: 201px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
  display: none;
}
.sign-up9 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 103px;
  z-index: 1;
}
.button7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-21xl) var(--padding-xs);
  background-color: var(--color-darkslategray);
  align-self: stretch;
  border-radius: var(--br-5xs);
  flex-direction: row;
  flex-shrink: 0;
}
.button7,
.card-frame,
.card3,
.sign-up-buttons1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up-buttons1 {
  flex: 1;
  flex-direction: column;
  padding: 144px 0 0;
  margin-left: -200px;
}
.card-frame,
.card3 {
  flex-direction: row;
}
.card3 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-royalblue);
  overflow: hidden;
  flex-wrap: wrap;
  padding: var(--padding-5xl) var(--padding-2xl) var(--padding-5xl)
    var(--padding-5xl);
  z-index: 1;
}
.card-frame {
  width: 274px;
  padding: 0 0 0 28px;
  box-sizing: border-box;
}
.multipurpose-tool-to3 {
  margin: 0;
  width: 348px;
  position: relative;
  font-size: var(--font-size-17xl);
  line-height: 46px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 111%;
  flex-shrink: 0;
  z-index: 1;
}
.header {
  margin-left: -611px;
  width: 419px;
  background-color: var(--color-dodgerblue);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 35px var(--padding-xl) var(--padding-14xl) 85px;
  box-sizing: border-box;
  gap: 170px;
  min-width: 419px;
  max-width: 100%;
}
.logo-icon3 {
  height: 40.6px;
  width: 40px;
  position: relative;
  object-fit: cover;
  display: none;
}
.about1,
.home1 {
  text-decoration: none;
  width: 68px;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.doctors1,
.services1 {
  flex-shrink: 0;
  cursor: pointer;
}
.services1 {
  text-decoration: none;
  width: 73px;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 73px;
}
.doctors1 {
  width: 68px;
  min-width: 68px;
}
.account1,
.appointment1,
.doctors1,
.logout1 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
}
.appointment1 {
  flex: 1;
  min-width: 109px;
  cursor: pointer;
}
.account1,
.logout1 {
  flex-shrink: 0;
}
.account1 {
  width: 72px;
  min-width: 72px;
}
.logout1 {
  width: 68px;
}
.navigation-links {
  width: 544px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-poppins);
}
.hero-image-icon {
  height: 654px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.base12 {
  height: 48px;
  width: 201px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
  display: none;
}
.sign-up10 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 82px;
  z-index: 1;
  text-decoration: none;
}
.button8,
.navigation-container,
.user-action-container,
.user-actions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) 58px var(--padding-xs);
  background-color: var(--color-darkslategray);
  margin: 0 !important;
  position: absolute;
  right: -147px;
  bottom: -36px;
  border-radius: var(--br-5xs);
  white-space: nowrap;
  z-index: 1;
}
.navigation-container,
.user-action-container,
.user-actions {
  max-width: 100%;
}
.user-action-container {
  width: 654px;
  position: relative;
}
.navigation-container,
.user-actions {
  align-self: stretch;
}
.navigation-container {
  flex-direction: column;
  align-items: flex-end;
  gap: 95px;
}
.navigation-container-wrapper,
.personal-details-empty {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.navigation-container-wrapper {
  width: 804px;
  flex-direction: column;
  padding: var(--padding-23xl) 0 0;
  min-width: 804px;
  max-width: 100%;
  flex-shrink: 0;
}
.personal-details-empty {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: 0 79px 0 557px;
  gap: 192px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1425px) {
  .header {
    flex: 1;
  }
  .navigation-container-wrapper {
    flex: 1;
    min-width: 100%;
  }
  .personal-details-empty {
    flex-wrap: wrap;
    gap: 96px;
    padding-left: 278px;
    padding-right: 39px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .header,
  .navigation-container-wrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .whmedical3 {
    font-size: var(--font-size-7xl);
    line-height: 16px;
  }
  .multipurpose-tool-to3 {
    font-size: var(--font-size-10xl);
    line-height: 37px;
  }
  .header {
    padding-top: 23px;
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .navigation-links {
    display: none;
  }
  .navigation-container {
    gap: 47px;
  }
  .navigation-container-wrapper {
    padding-top: 27px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .personal-details-empty {
    gap: 48px;
    padding-left: 139px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .whmedical3 {
    font-size: var(--font-size-lgi);
    line-height: 12px;
  }
  .multipurpose-tool-to3 {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .header {
    gap: var(--gap-66xl);
    padding-left: var(--padding-23xl);
    box-sizing: border-box;
  }
  .navigation-container {
    gap: var(--gap-5xl);
  }
  .navigation-container-wrapper {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .personal-details-empty {
    gap: var(--gap-5xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}

/* Basic styles for the navbar items */
.home1,
.about1,
.services1,
.appointment1,
.account1,
.doctors1,
.logout1 {
  text-decoration: none; /* Remove underline */
  color: var(--color-darkslategray); /* Default text color */
  display: inline-block; /* Ensure items are inline-block */
  padding: 0px 2px; /* Add padding for better spacing */
  transition: color 0.3s; /* Smooth transition for text color */
}

/* Hover effects */
.home1:hover,
.about1:hover,
.services1:hover,
.appointment1:hover,
.account1:hover,
.doctors1:hover,
.logout1:hover {
  color: var(--color-dodgerblue); /* Change to desired text color on hover */
}