.download-1-icon11 {
  height: 40px;
  width: 40px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.whmedical11 {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  line-height: 20px;
  color: inherit;
  z-index: 1;
}
.container1,
.header1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.header1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
}
.container1 {
  width: 247px;
  flex-direction: row;
  padding: 0 0 var(--padding-55xl);
  box-sizing: border-box;
  gap: var(--gap-4xs);
}
.base-icon8 {
  height: 48px;
  width: 199px;
  position: relative;
  border-radius: var(--br-5xs);
  display: none;
}
.sign-up118 {
  width: 139px;
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
  text-decoration: none;
}
.base129,
.button91 {
  border-radius: var(--br-5xs);
}
.button91 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-7xl) var(--padding-xs);
  background-color: var(--color-darkslategray);
  flex: 0.7387;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  white-space: nowrap;
}
.button91:hover {
  background-color: var(--color-slategray);
}
.base129 {
  height: 48px;
  width: 201px;
  position: relative;
  background-color: var(--color-darkslateblue-100);
  display: none;
}
.sign-up119 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 118px;
  z-index: 1;
  text-decoration: none;
}
.button92,
.sign-up-buttons14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button92 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-21xl) var(--padding-xs);
  background-color: var(--color-darkslateblue-100);
  align-self: stretch;
  border-radius: var(--br-5xs);
  flex-direction: row;
  flex-shrink: 0;
  white-space: nowrap;
}
.button92:hover {
  background-color: var(--color-cornflowerblue);
}
.sign-up-buttons14 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-53xl) 0 0;
  margin-left: -200px;
}
.base130 {
  height: 48px;
  width: 201px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
  display: none;
}
.sign-up120 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 103px;
  z-index: 1;
  text-decoration: none;
}
.button93 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-21xl) var(--padding-xs);
  background-color: var(--color-darkslategray);
  align-self: stretch;
  border-radius: var(--br-5xs);
  flex-direction: row;
  flex-shrink: 0;
}
.button93:hover {
  background-color: var(--color-slategray);
}
.button93,
.card-wrapper7,
.card11,
.sign-up-buttons15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up-buttons15 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-125xl) 0 0;
  margin-left: -200px;
}
.card-wrapper7,
.card11 {
  flex-direction: row;
}
.card11 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-royalblue);
  overflow: hidden;
  flex-wrap: wrap;
  padding: var(--padding-5xl) var(--padding-2xl) var(--padding-5xl)
    var(--padding-5xl);
  z-index: 1;
}
.card-wrapper7 {
  width: 274px;
  padding: 0 0 0 var(--padding-9xl);
  box-sizing: border-box;
}
.multipurpose-tool-to11 {
  margin: 0;
  width: 348px;
  position: relative;
  font-size: var(--font-size-17xl);
  line-height: 46px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 111%;
  flex-shrink: 0;
  z-index: 1;
}
.page {
  margin-left: -474px;
  width: 419px;
  background-color: var(--color-dodgerblue);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16xl) var(--padding-xl) var(--padding-14xl)
    var(--padding-66xl);
  box-sizing: border-box;
  gap: var(--gap-151xl);
  min-width: 419px;
  max-width: 100%;
}
.logo-icon11 {
  height: 40.6px;
  width: 40px;
  position: relative;
  object-fit: contain;
  display: none;
}
.about9,
.home9 {
  text-decoration: none;
  width: 68px;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.doctors9,
.services9 {
  flex-shrink: 0;
  cursor: pointer;
}
.services9 {
  text-decoration: none;
  width: 73px;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 73px;
}
.doctors9 {
  width: 68px;
  min-width: 68px;
}
.account9,
.appointment9,
.doctors9,
.logout9 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
}
.appointment9 {
  flex: 1;
  min-width: 109px;
  cursor: pointer;
}
.account9,
.logout9 {
  flex-shrink: 0;
}
.account9 {
  width: 72px;
  min-width: 72px;
}
.logout9 {
  width: 68px;
}
.links1,
.menu-items1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.links1 {
  margin: 0;
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-poppins);
}
.menu-items1 {
  width: 610px;
  justify-content: flex-end;
  padding: 0 var(--padding-14xl) var(--padding-4xl);
  box-sizing: border-box;
}
.base131 {
  height: 40px;
  width: 153px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
  display: none;
}
.sign-up121 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 31px;
  text-decoration: none;
}
.text111 {
  height: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-37xl) 0;
  box-sizing: border-box;
  z-index: 1;
}
.base132,
.button94 {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
}
.button94 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-10xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.base132 {
  height: 40px;
  width: 153px;
  position: relative;
  display: none;
}
.sign-up122 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 31px;
  text-decoration: none;
}
.text112 {
  height: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-37xl) 0;
  box-sizing: border-box;
  z-index: 1;
}
.base133,
.button95 {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
}
.button95 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-10xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.base133 {
  height: 40px;
  width: 153px;
  position: relative;
  display: none;
}
.sign-up123 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 22px;
  text-decoration: none;
}
.text113 {
  height: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-41xl) 0;
  box-sizing: border-box;
  z-index: 1;
}
.base134,
.button96 {
  border-radius: var(--br-5xs);
}
.button96 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-10xs);
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.base134 {
  height: 40px;
  width: 153px;
  position: relative;
  background-color: var(--color-darkslateblue-100);
  display: none;
}
.sign-up124 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 88px;
  text-decoration: none;
}
.text114 {
  height: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-8xl) 0;
  box-sizing: border-box;
  z-index: 1;
}
.base135,
.button97 {
  border-radius: var(--br-5xs);
}
.button97 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-10xs);
  background-color: var(--color-darkslateblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.base135 {
  height: 40px;
  width: 153px;
  position: relative;
  background-color: var(--color-darkslategray);
  display: none;
}
.sign-up125 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 76px;
  text-decoration: none;
}
.text115 {
  height: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-14xl) 0;
  box-sizing: border-box;
  z-index: 1;
}
.base136,
.button98 {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
}
.button98 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-10xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.base136 {
  height: 40px;
  width: 153px;
  position: relative;
  display: none;
}
.sign-up126 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 30px;
  text-decoration: none;
}
.text116 {
  height: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-37xl) 0;
  box-sizing: border-box;
  z-index: 1;
}
.base137,
.button99 {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
}
.button99 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-10xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.base137 {
  height: 40px;
  width: 153px;
  position: relative;
  display: none;
}
.sign-up127 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 114px;
  text-decoration: none;
}
.text117 {
  height: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-sm) 0;
  box-sizing: border-box;
  z-index: 1;
}
.base138,
.button100 {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
}
.button100 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-10xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.base138 {
  height: 40px;
  width: 153px;
  position: relative;
  display: none;
}
.sign-up128 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 81px;
  text-decoration: none;
}
.text118 {
  height: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-12xl) 0;
  box-sizing: border-box;
  z-index: 1;
}
.base139,
.button101 {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
}
.button101 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-10xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.base139 {
  height: 40px;
  width: 153px;
  position: relative;
  display: none;
}
.sign-up129 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 126px;
  text-decoration: none;
  color: inherit;
}
.text119 {
  height: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-5xs) 0;
  box-sizing: border-box;
  z-index: 1;
}
.base140,
.button102 {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray);
}
.button102 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-10xs);
}
.base140 {
  height: 40px;
  width: 153px;
  position: relative;
  display: none;
}
.sign-up130 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 102px;
  text-decoration: none;
}
.text120 {
  height: 20px;
  overflow: hidden;
  padding: var(--padding-12xs) var(--padding-xl) 0;
  box-sizing: border-box;
  z-index: 1;
}
.action-buttons2,
.button103,
.text120,
.user-actions2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button103 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-10xs);
  background-color: var(--color-darkslategray);
  border-radius: var(--br-5xs);
}
.action-buttons2,
.user-actions2 {
  max-width: 100%;
}
.action-buttons2 {
  width: 793px;
  flex-wrap: wrap;
  gap: 10px 6px;
  min-height: 90px;
}
.user-actions2 {
  align-self: stretch;
  padding: 0 var(--padding-50xl);
  box-sizing: border-box;
}
.sign-up131,
.sign-up132 {
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.sign-up131 {
  margin: 0;
  width: 382px;
  font-size: inherit;
  font-family: inherit;
  max-width: 100%;
  text-decoration: none;
}
.sign-up132 {
  min-width: 109px;
}
.form-heading {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm);
}
.blood-urea-nitrogen1,
.creatinine1 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.creatinine1 {
  align-self: stretch;
}
.bicarbonate-hco3,
.calcium1,
.chloride1,
.phosphorus,
.potassium1,
.sodium1,
.uric-acid {
  width: 205px;
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.main,
.profile-metrics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-metrics {
  align-self: stretch;
  gap: var(--gap-15xl);
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.main {
  width: 226px;
  gap: var(--gap-21xl-5);
}
.sign-up133 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 71px;
}
.name-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl);
}
.base141,
.text121 {
  box-sizing: border-box;
}
.base141 {
  height: 49px;
  width: 158px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  display: none;
}
.text121 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 17px;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  min-width: 93px;
  z-index: 1;
}
.base142,
.form46 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
}
.form46 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 var(--padding-base) var(--padding-11xs);
}
.base142 {
  height: 49px;
  width: 158px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.form47,
.text122 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text122 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 17px;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  min-width: 93px;
  z-index: 1;
}
.form47 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  padding: var(--padding-mini) 0 var(--padding-base) var(--padding-11xs);
}
.base143,
.text123 {
  box-sizing: border-box;
}
.base143 {
  height: 49px;
  width: 158px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  display: none;
}
.text123 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 17px;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  min-width: 93px;
  z-index: 1;
}
.base144,
.form48 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
}
.form48 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 var(--padding-base) var(--padding-11xs);
}
.base144 {
  height: 49px;
  width: 158px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.form49,
.text124 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text124 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 17px;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  min-width: 93px;
  z-index: 1;
}
.form49 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  padding: var(--padding-mini) 0 var(--padding-base) var(--padding-11xs);
}
.base145,
.text125 {
  box-sizing: border-box;
}
.base145 {
  height: 49px;
  width: 158px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  display: none;
}
.text125 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 17px;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  min-width: 93px;
  z-index: 1;
}
.base146,
.form50 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
}
.form50 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 var(--padding-base) var(--padding-11xs);
}
.base146 {
  height: 49px;
  width: 158px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.form51,
.text126 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text126 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 17px;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  min-width: 93px;
  z-index: 1;
}
.form51 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  padding: var(--padding-mini) 0 var(--padding-base) var(--padding-11xs);
}
.base147,
.text127 {
  box-sizing: border-box;
}
.base147 {
  height: 49px;
  width: 158px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  display: none;
}
.text127 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 17px;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  min-width: 93px;
  z-index: 1;
}
.base148,
.form52 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
}
.form52 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 var(--padding-base) var(--padding-11xs);
}
.base148 {
  height: 49px;
  width: 158px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.form53,
.text128 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text128 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 17px;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  min-width: 93px;
  z-index: 1;
}
.form53 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  padding: var(--padding-mini) 0 var(--padding-base) var(--padding-11xs);
}
.base149,
.text129 {
  box-sizing: border-box;
}
.base149 {
  height: 49px;
  width: 158px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  display: none;
}
.text129 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 17px;
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  padding: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  min-width: 93px;
  z-index: 1;
}
.form54,
.input-fields1,
.name-inputs1,
.text129 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.form54 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  flex-direction: row;
  padding: var(--padding-mini) 0 var(--padding-base) var(--padding-11xs);
}
.input-fields1,
.name-inputs1 {
  flex-direction: column;
}
.name-inputs1 {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-8xs);
}
.input-fields1 {
  height: 528px;
  width: 157px;
  gap: var(--gap-7xl);
  min-width: 157px;
}
.sign-up134 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 46px;
}
.unit-labels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
}
.meql,
.meql1,
.meql2,
.meql3,
.mgdl10,
.mgdl11,
.mgdl7,
.mgdl8,
.mgdl9 {
  align-self: stretch;
  position: relative;
  line-height: 23px;
  font-weight: 600;
}
.metric-units {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.form45,
.metric-units,
.unit-fields {
  display: flex;
  align-items: flex-start;
}
.unit-fields {
  width: 179px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-21xl-5);
  min-width: 179px;
}
.form45 {
  width: 444px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.sign-up135 {
  position: relative;
  font-weight: 600;
}
.empty-items,
.empty-items1,
.empty-items2,
.empty-items3,
.empty-items4,
.empty-items5,
.empty-items6,
.empty-items7,
.empty-items8 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.empty-elements {
  width: 169px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-15xl);
}
.empty-elements,
.placeholder,
.submit {
  display: flex;
  align-items: flex-start;
}
.placeholder {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.submit {
  width: 218px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-21xl-5);
}
.content,
.registration {
  align-self: stretch;
  align-items: flex-start;
  max-width: 100%;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-24xl);
  font-size: var(--font-size-xl);
}
.registration {
  flex-direction: column;
  gap: var(--gap-4xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
}
.menu1,
.navigation1,
.registration,
.renal-profile {
  display: flex;
  justify-content: flex-start;
}
.menu1 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
  flex-shrink: 0;
  max-width: 100%;
}
.navigation1,
.renal-profile {
  align-items: flex-start;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}
.navigation1 {
  width: 974px;
  flex-direction: column;
  padding: var(--padding-23xl) 0 0;
  min-width: 974px;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.renal-profile {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-27xl) 0 var(--padding-401xl);
  gap: var(--gap-36xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray);
}
@media screen and (max-width: 1425px) {
  .page {
    flex: 1;
  }
  .navigation1 {
    flex: 1;
    min-width: 100%;
  }
  .renal-profile {
    flex-wrap: wrap;
    padding-left: var(--padding-191xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .page {
    min-width: 100%;
  }
  .user-actions2 {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .content {
    flex-wrap: wrap;
  }
  .navigation1 {
    padding-top: var(--padding-8xl);
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .whmedical11 {
    font-size: var(--font-size-7xl);
    line-height: 16px;
  }
  .multipurpose-tool-to11 {
    font-size: var(--font-size-10xl);
    line-height: 37px;
  }
  .page {
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .links1 {
    display: none;
  }
  .menu-items1 {
    width: 66px;
  }
  .input-fields1,
  .unit-fields {
    flex: 1;
  }
  .form45 {
    flex-wrap: wrap;
  }
  .content {
    gap: var(--gap-2xl);
  }
  .menu1 {
    gap: var(--gap-6xl);
  }
  .navigation1 {
    min-width: 100%;
  }
  .renal-profile {
    gap: var(--gap-8xl);
    padding-left: var(--padding-86xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .whmedical11 {
    font-size: var(--font-size-lgi);
    line-height: 12px;
  }
  .multipurpose-tool-to11 {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .page {
    gap: var(--gap-66xl);
    padding-left: var(--padding-23xl);
    box-sizing: border-box;
  }
  .sign-up131 {
    font-size: var(--font-size-lgi);
  }
  .sign-up132,
  .sign-up133,
  .sign-up134,
  .sign-up135 {
    font-size: var(--font-size-base);
  }
  .navigation1 {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .renal-profile {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}

/* Basic styles for the navbar items */
.home9,
.about9,
.services9,
.appointment9,
.account9,
.doctors9,
.logout9 {
  text-decoration: none; /* Remove underline */
  color: var(--color-darkslategray); /* Default text color */
  display: inline-block; /* Ensure items are inline-block */
  padding: 0px 2px; /* Add padding for better spacing */
  transition: color 0.3s; /* Smooth transition for text color */
}

/* Hover effects */
.home9:hover,
.about9:hover,
.services9:hover,
.appointment9:hover,
.account9:hover,
.doctors9:hover,
.logout9:hover {
  color: var(--color-dodgerblue); /* Change to desired text color on hover */
}